interactions:
- request:
    body: !!python/unicode <?xml version="1.0" encoding="UTF-8"?><prestashop><manufacturers><active>1</active><name>New
      brand</name></manufacturers></prestashop>
    headers:
      Content-Type: [text/xml]
    method: POST
    uri: http://www.prestashop_catalogmanager10.com/api/manufacturers
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<prestashop
        xmlns:xlink=\"http://www.w3.org/1999/xlink\">\n<manufacturer>\n\t<id><![CDATA[10]]></id>\n\t<active><![CDATA[1]]></active>\n\t<link_rewrite
        notFilterable=\"true\"><![CDATA[new-brand]]></link_rewrite>\n\t<name><![CDATA[New
        brand]]></name>\n\t<date_add><![CDATA[2020-02-06 10:57:36]]></date_add>\n\t<date_upd><![CDATA[2020-02-06
        10:57:36]]></date_upd>\n\t<description><language id=\"1\"></language><language
        id=\"2\"></language><language id=\"3\"></language></description>\n\t<short_description><language
        id=\"1\"></language><language id=\"2\"></language><language id=\"3\"></language></short_description>\n\t<meta_title><language
        id=\"1\"></language><language id=\"2\"></language><language id=\"3\"></language></meta_title>\n\t<meta_description><language
        id=\"1\"></language><language id=\"2\"></language><language id=\"3\"></language></meta_description>\n\t<meta_keywords><language
        id=\"1\"></language><language id=\"2\"></language><language id=\"3\"></language></meta_keywords>\n<associations>\n<addresses
        nodeType=\"address\" api=\"addresses\"/>\n</associations>\n</manufacturer>\n</prestashop>\n"}
    headers:
      access-time: ['1580983056']
      content-sha1: [ae46a7297bc2b0209b14a833f98c5f0af9517df7]
      content-type: [text/xml;charset=utf-8]
      execution-time: ['0.014']
      psws-version: [1.6.1.22]
    status: {code: 201, message: Created}
version: 1
