sudo: false
cache: pip

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml # because pip installation is slow

language: python

python:
  - "3.5"

env:
  - VERSION="11.0" LINT_CHECK="1"
  - VERSION="11.0" ODOO_REPO="OCA/OCB" LINT_CHECK="0"
  - VERSION="11.0" ODOO_REPO="odoo/odoo" LINT_CHECK="0"


install:
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - pip install html2text
  - pip install prestapyt
  - travis_install_nightly

script:
  - travis_run_tests

after_success:
  - travis_after_test_success
